@model List<BazyDanych1Projekt.Models.Sprawa>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprawy</title>
</head>
<body>
    <h1>Lista Spraw</h1>

    <a asp-action="AddOrEdit" asp-controller="sprawa">Dodaj nowa sprawe</a>
    <br/>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytul</th>
                <th>Opis</th>
                <th>Data rozpoczecia</th>
                <th>Data zakonczenia</th>
                <th>Status</th>
                <th>Priorytet</th>
                <th>Wynik</th>
                <th>Stopien wynagrodzenia</th>
                <th>Id klienta</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sprawa in Model)
            {
                <tr>
                    <td>@sprawa.IdSprawy</td>
                    <td>@sprawa.Tytul</td>
                    <td>@sprawa.Opis</td>
                    <td>@sprawa.DataRozpoczecia</td>
                    <td>@sprawa.DataZakonczenia</td>
                    <td>@sprawa.Status</td>
                    <td>@sprawa.Priorytet</td>
                    <td>@sprawa.Wynik</td>
                    <td>@sprawa.StopienWynagrodzenia</td>
                    <td>@sprawa.IdKlienta</td>
                    <td>
                        <a asp-action="AddOrEdit" asp-controller="sprawa" asp-route-id="@sprawa.IdSprawy">Edytuj</a> |
                        <a asp-action="Delete" asp-controller="sprawa" asp-route-id="@sprawa.IdSprawy">Usun</a> |
                        <a asp-action="SprawaKoszt" asp-controller="sprawa" asp-route-IdSprawy="@sprawa.IdSprawy">Policz Koszt</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>